$blockstack-blue: #3700ff;
$hover-bg: #E5E5E5;

// STACK HEADER
.stack-header-cols {
  border-bottom: 2px solid $blockstack-blue;
  margin: 0px !important;
}

// STACK CARD

.stack-card {
  border: 1px solid $blockstack-blue;
  margin: 100px 200px !important;
  height: 50vh
}

.stack-card-menu {
  border: 1px solid $blockstack-blue;
}

.stack-card-menu-choice {
  text-align: center;
  border: 1px solid $blockstack-blue;
  &:hover {
    color: $blockstack-blue;
    background: $hover-bg;
  }

}
